# 核心依赖
numpy>=1.19.2
pandas>=1.2.4
torch>=1.8.1
torchvision>=0.9.1
torchaudio>=0.8.1
scikit-learn>=0.24.2
scipy>=1.6.2
imbalanced-learn>=0.8.0

# 数据处理
sqlite3

# 可选依赖
tensorboard>=2.5.0
tensorboardX>=2.2
